<div>
  <div class="container-fluid">
    <ul class="nav nav-justified navbar-default">
      <li class="dropdown">
        <a href="#" data-toggle="collapse" data-target="#one">One</a>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="collapse" data-target="#two">Two</a>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="collapse" data-target="#three">Three</a>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="collapse" data-target="#four">Four</a>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="collapse" data-target="#five">Five</a>
      </li>
    </ul>
  </div>
  <div class="container-fluid">
    <nav id="submenu">
      <ul class="nav nav-justified">
        <li>
          <ul class="nav nav-justified collapse" id="one">
            <li><a href="#" id="">One sub 1</a></li>
            <li><a href="#" id="">One sub 2</a></li>
            <li><a href="#" id="">One sub 3</a></li>
            <li><a href="#" id="">One sub 4</a></li>
          </ul>
        </li>
        <li>
          <ul class="nav nav-justified collapse" id="two">
            <li><a href="#" id="">Two sub 1</a></li>
            <li><a href="#" id="">Two sub 2</a></li>
            <li><a href="#" id="">Two sub 3</a></li>
          </ul>
        </li>
        <li>
          <ul class="nav nav-justified collapse" id="three">
            <li><a href="#" id="">Three sub 1</a></li>
            <li><a href="#" id="">Three sub 2</a></li>
          </ul>
        </li>
        <li>
          <ul class="nav nav-justified collapse" id="four">
            <li><a href="#" id="">Four sub 1</a></li>
            <li><a href="#" id="">Four sub 2</a></li>
          </ul>
        </li>
        <li>
          <ul class="nav nav-justified collapse" id="five">
            <li><a href="#" id="">Link</a></li>
            <li><a href="#" id="">Link</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>